@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* ========================================
   Global variables
   ======================================== */

:root {

    /* Font */
    --font-regular: 400;
    --font-medium: 500;
    --font-semibold: 600;
    --font-bold: 700;
    --font-extrabold: 800;
    --font-black: 900;

    /* Colors */

    --background-card: #dfdfdf;
    --primary-color: #3368A0;
    --secundary-color: #66A3BF;
    --tertiary-color: #C8DFDB;
}


/* ========================================
   Traditional CSS reset
   ======================================== */

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;

    font-family: "Inter", sans-serif;
    font-weight: var(--font-regular);

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

button,
input,
textarea,
select {
    margin: 0;
    padding: 0;

    font: inherit;
}

button {
    border: 0;
    background: none;
    cursor: pointer;
}

img,
picture,
svg,
video,
canvas {
    display: block;
    max-width: 100%;
}

img {
    height: auto;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}